<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<div class="row">

		<h1>Item Detail</h1>
		<div th:if="${items}">
			<ul th:object="${items}">
				<li th:text="*{contents}"></li>
				<li><a href="/" th:href="@{|/item/{items.id}/edit|}">Edit</a></li>

			</ul>
		</div>

		<div th:unless="${items}">
			<h3>No Item Found</h3>
		</div>
		<a href="/item">Back</a>

	</div>


</body>
</html>