<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Shopping Lists</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body layout:fragment="content">
<div class = "row">

	<h1>Lists</h1>
	<a class="btn btn-default" href="/" th:href="@{|/list/create|}" role="button" style="background-color:#b30000; color:white; width:125px;">Create New List</a>
	<table class = "table table-striped table-hover" >
		<thead>
			<tr>
				<th>Name</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody >
			<tr th:each="list : ${lists}" >
				<td th:text="${list.name}"></td>
				<td><span  style="align: center; "><a class="btn btn-default" href="/" th:href="@{|/list/${list.id}}" role="button" style="background-color:white;">List Details</a></span></td>
				<td><span  style="align: center;"><a class="btn btn-default" href="/" th:href="@{/item}" role="button" style="background-color:white;">List Items</a></span></td>
<!-- 				<td><span  style="align: center;"><a class="btn btn-default" href="/" th:href="@{|/list/${list.id}/delete|}" role="button" style="background-color:white; position: fixed; right: 55%">Delete</a></span></td>
 -->				<td><span><a class="btn btn-default" href="/" th:href="@{|/list/${list.id}/delete|}" role="button" style="background-color:white;">Delete</a></span></td>
			</tr>

		</tbody>
	</table>
	</div>
</body>
</html>